<html lang="en">
  <head>
    {{>head}}
  </head>
  <body class="bg-dark">
    {{>navbar}}
    <main>
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto text-white">
            <h1 class="fw-light">Edit Goal page</h1>
            <p class="lead text-body-white">This Goal Tracker is designed to track your progress in three categories: Fitness, Nutrition and Lifestyle.</p>
          </div>
        </div>
      </section>
    
      <div class="album py-5 bg-body-tertiary">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 justify-content-center">

            {{#goals}}
            <form method="POST">
            <div class="col align-self-center">
              <div class="card shadow-lg">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef">Hello</text></svg>
                
                <div class="card-body">
                    <div class="mb-3">
                        <label for="name" class="form-label">Title</label>
                        <input type="text" class="form-control" id="name" placeholder="{{name}}">
                      </div>
                      <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" rows="3" placeholder="{{description}}"></textarea>
                      </div>
                      <div class="mb-3">
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Type
                          </button>
                          <ul class="dropdown-menu">
                            <li class="list-group-item ms-2">
                              <input class="form-check-input me-1" type="radio" name="type" value="Fitness" id="type">
                              <label class="form-check-label" for="Fitness" id="type" name="Fitness">Fitness</label>
                            </li> 
                            <li class="list-group-item ms-2">
                              <input class="form-check-input me-1" type="radio" name="type" value="Nutrition" id="type">
                              <label class="form-check-label" for="Nutrition" id="type" name="Nutrition">Nutrition</label>
                            </li>
                            <li class="list-group-item ms-2">    
                              <input class="form-check-input me-1" type="radio" name="type" value="Lifestyle" id="type">
                              <label class="form-check-label" for="Lifestyle" id="type" name="Lifestyle">Lifestyle</label></li>
                              
                          </ul>
                        </div>
                        
                      </div>
                      
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <input class="form-control edit-published  " id="published" placeholder="Published: {{published}}" disabled></input>
                    </div>
                    <input class="btn btn-danger" type="submit" value="Delete" formaction="/delete"></input>
                    <input class="btn btn-primary" type="submit" value="Update" formaction="/update"></input>
        
                  </div>    
                </div>
              </div>
            </div>
             </form>
            {{/goals}}
          </div>
      </div>
    
    
    </main>
  </body>
</html>
