<html lang="en">
  <head>
    {{>head}}
  </head>
  <body class="bg-dark">
    {{>navbar}}

    <main>
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto text-white">
            <h1 class="fw-light">Fitness</h1>
            <p class="lead text-body-white">Fitness is an important factor of physical health. This section will describe various types of exercise you can engage in, as well as the benefits involved for each.</p>
          </div>
        </div>
      </section>
    
      <div class="album py-5 bg-body-tertiary">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            {{#exercises}}
            <div class="col">
              <div class="card shadow-sm">
                <img class="card-img-top" width="100%" height="225" src="img/Fitness.jpg" >
                <div class="card-body">
                  <p class="card-text">{{description}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button class="btn btn-sm btn-outline-secondary"  data-bs-toggle="modal" data-bs-target="#{{_id}}" data-bs-whatever="@mdo" >View</Button>
                        {{>flnModal}}
                    </div>
                    <h2>{{name}}</h2>
                  </div>
                </div>
              </div>
            </div>
            {{/exercises}}
              {{#exercises}}
              <div class="col">
                <div class="card shadow-sm">
                 <img class="card-img-top" width="100%" height="225" src="img/Fitness.jpg" >
                  <div class="card-body">
                    <p class="card-text">{{description}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button class="btn btn-sm btn-outline-secondary"  data-bs-toggle="modal" data-bs-target="#{{_id}}" data-bs-whatever="@mdo" >View</Button>
                          {{>flnModal}}
                      </div>
                      <h2>{{name}}</h2>
                    </div>
                  </div>
                </div>
              </div>
              {{/exercises}}
          </div>
      </div>
    
    </main>
  </body>
</html>
