<div class="modal fade" id="{{_id}}" tabindex="-1" aria-labelledby="{{_id}}Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

          <h1 class="modal-title fs-5" id="{{_id}}Label">{{name}}</h1>
          <h2 hidden>{{_id}}</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Title:</label>
              <form method="POST">
              <textarea class="form-control" id="name" name="name" rows="1" disabled>{{name}}</textarea>
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Description:</label>
              <textarea class="form-control" id="description" name="description" rows="4" disabled>{{description}}</textarea>
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Type:</label>
              <textarea class="form-control" id="type" name="type" rows="1" disabled>{{type}}</textarea>
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Published:</label>
              <textarea class="form-control" id="published" name="published" rows="1" disabled>{{published}}</textarea>
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Finished:</label>
              <textarea class="form-control text-capitalize" id="published" name="published" rows="1" disabled>{{finished}}</textarea>
            </div>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </form>
        </div>

      </div>
    </div>
  </div>