<div class="modal fade" id="Add" tabindex="-1" aria-labelledby="AddLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

          <h1 class="modal-title fs-5" id="AddLabel">New Goal</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Title:</label>
              <form method="POST" action="/add">
              <textarea class="form-control" id="name" name="name" maxLength="12"></textarea>
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea class="form-control" id="description" name="description"></textarea>
            </div>


            <div class="mb-3">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Type
                </button>
                <ul class="dropdown-menu">
                  <li class="list-group-item ms-2">
                    <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="Fitness" id="type">
                    <label class="form-check-label" for="Fitness" id="Fitness" name="Fitness">Fitness</label>
                  </li> 
                  <li class="list-group-item ms-2">
                    <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="Nutrition" id="type">
                    <label class="form-check-label" for="Nutrition" id="Nutrition" name="Nutrition">Nutrition</label>
                  </li>
                  <li class="list-group-item ms-2">    
                    <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="Lifestyle" id="type">
                    <label class="form-check-label" for="Lifestyle" id="Lifestyle" name="Lifestyle">Lifestyle</label></li>
                </ul>
              </div>
            </div>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Add">
        </form>
        </div>

      </div>
    </div>
  </div>