<div class="modal fade" id="{{name}}" tabindex="-1" aria-labelledby="{{name}}Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

          <h1 class="modal-title fs-5" id="{{name}}Label">{{name}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
                
              <label for="recipient-name" class="col-form-label">Title:</label>
              <form method="POST" action="/update">
              <textarea class="form-control" id="nameID" name="nameID">{{name}}</textarea>
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea class="form-control" id="descriptionsID" name="descriptionID">{{description}}</textarea>
            
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Update">
        </form>
        </div>

      </div>
    </div>
  </div>