<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>
    {{>navbar}}
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Lifestyle</h1>
          <p class="lead text-body-secondary">It is very important to maintain a healthy lifestyle. Explained below will be various ways and methods of doing so.</p>
        </div>
      </div>
    </section>
   
  </body>
</html>
