<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>
    {{>navbar}}

    <main class="form-signin w-25 m-auto text-center" method="POST" action="/login">
      <form data-bitwarden-watching="1">
        <h1 class="h3 mb-3 mt-5 fw-normal">Please sign in</h1>

        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            placeholder="Username"
            required
          />
          <label for="username">Username</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Password"
            required
          />
          <label for="username">Password</label>
        </div>

        <input class="w-25 mt-3 btn btn-lg btn-primary" type="submit" value="Sign in">
        <a class="w-25 mt-3 btn btn-lg btn-primary" href="/register">Register</a>
      </form>
    </main>
  </body>
</html>
