<nav
  class="navbar navbar-expand-lg bg-body-tertiary rounded"
  aria-label="Thirteenth navbar example"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExample11"
      aria-controls="navbarsExample11"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
      <a
        class="navbar-brand col-lg-3 me-0"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasScrolling"
        aria-controls="offcanvasScrolling"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          class="bi bi-list"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
          />
        </svg>
      </a>
      {{^user}}
      <a
        class="navbar-nav col-lg-6 justify-content-lg-center text-decoration-none text-dark text-center"
        href="/"
        >Wellbeing Web Application</a
      >
      {{/user}}

      {{#user}}
      <a
        class="navbar-nav col-lg-6 justify-content-lg-center text-decoration-none text-dark text-center"
        href="/home"
        >Wellbeing Web Application</a
      >
      {{/user}}

      <div class="d-lg-flex col-lg-3 justify-content-lg-end">
        {{^user}}
        <a class="btn btn-primary-outline" href="/login">Sign-in/Register</a>
        {{/user}}
        {{#user}}
        <a class="btn btn-primary-outline" href="/logout" id="logout"
          >Sign out</a
        >
        {{/user}}
      </div>
    </div>
  </div>
</nav>

<div
  class="offcanvas offcanvas-start navbar-expand-sm"
  data-bs-scroll="true"
  data-bs-backdrop="true"
  data-bs-width="200px"
  tabindex="-1"
  id="offcanvasScrolling"
  aria-labelledby="offcanvasScrollingLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">A</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <ul>
      <li href="/">Home</li>
      <li href="/">Home</li>
      <li href="/">Home</li>
      <li href="/">Home</li>
    </ul>
  </div>
</div>
