<nav
  class="navbar navbar-expand-lg bg-body-tertiary rounded"
  aria-label="Thirteenth navbar example"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExample11"
      aria-controls="navbarsExample11"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
      <a
        class="navbar-brand col-lg-3 me-0"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasScrolling"
        aria-controls="offcanvasScrolling"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          class="bi bi-list"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
          />
        </svg>
      </a>
      {{^user}}
      <a
        class="navbar-nav col-lg-6 justify-content-lg-center text-decoration-none text-dark text-center"
        href="/"
        >Wellbeing Web Application</a
      >
      {{/user}}

      {{#user}}
      <a
        class="navbar-nav col-lg-6 justify-content-lg-center text-decoration-none text-dark text-center"
        href="/home"
        >Wellbeing Web Application</a
      >
      {{/user}}

      <div class="d-lg-flex col-lg-3 justify-content-lg-end">
        {{^user}}
        <a class="btn btn-primary-outline" href="/login">Sign-in/Register</a>
        {{/user}}
        {{#user}}
        <a class="btn btn-primary-outline" href="/logout" id="logout"
          >Sign out</a
        >
        {{/user}}
      </div>
    </div>
  </div>
</nav>

{{! 
<div
  class="offcanvas offcanvas-start navbar-expand-sm"
  data-bs-scroll="true"
  data-bs-backdrop="true"
  data-bs-width="200px"
  tabindex="-1"
  id="offcanvasScrolling"
  aria-labelledby="offcanvasScrollingLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Navigation</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="list-group">
      <a class="list-group-item list-group-item-action text-center" href="#"> Nutrition</a>
      <a class="list-group-item list-group-item-action text-center" href="#"> Fitness</a>
      <a class="list-group-item list-group-item-action text-center" href="#"> Lifestyle</a>
      <a class="list-group-item list-group-item-action text-center" href="#"> Goals</a>

    </div>

  </div>
</div>
}}

<div class="offcanvas offcanvas-start d-flex flex-column flex-shrink-0 bg-body-tertiary" style="width: 4.5rem;" data-bs-scroll="true"
data-bs-backdrop="true"
data-bs-width="200px"
tabindex="-1"
id="offcanvasScrolling"
aria-labelledby="offcanvasScrollingLabel" >
  <a href="/" class="d-block p-3 link-body-emphasis text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
    <svg class="bi bi-house" width="40" height="32"></svg>
    <span class="visually-hidden">Icon-only</span>
  </a>
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a href="#" class="nav-link active py-3 border-bottom rounded-0" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Home" data-bs-original-title="Home">
        <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Home"><use xlink:href="#home"></use></svg>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Dashboard" data-bs-original-title="Dashboard">
        <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Dashboard"><use xlink:href="#speedometer2"></use></svg>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Orders" data-bs-original-title="Orders">
        <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Orders"><use xlink:href="#table"></use></svg>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Products" data-bs-original-title="Products">
        <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Products"><use xlink:href="#grid"></use></svg>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Customers" data-bs-original-title="Customers">
        <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Customers"><use xlink:href="#people-circle"></use></svg>
      </a>
    </li>
  </ul>
  <div class="dropdown border-top">
    <a href="#" class="d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
    </a>
    <ul class="dropdown-menu text-small shadow">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</div>