<nav
  class="navbar navbar-expand-lg bg-body-tertiary rounded"
  aria-label="Thirteenth navbar example"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExample11"
      aria-controls="navbarsExample11"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
      <a
        class="navbar-brand col-lg-3 me-0"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasScrolling"
        aria-controls="offcanvasScrolling"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          class="bi bi-list"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
          />
        </svg>
      </a>
      {{^user}}
      <a
        class="navbar-nav col-lg-6 justify-content-lg-center text-decoration-none text-dark text-center"
        href="/"
        >Wellbeing Web Application</a
      >
      {{/user}}

      {{#user}}
      <a
        class="navbar-nav col-lg-6 justify-content-lg-center text-decoration-none text-dark text-center"
        href="/home"
        >Wellbeing Web Application</a
      >
      {{/user}}

      <div class="d-lg-flex col-lg-3 justify-content-lg-end">
        {{^user}}
        <a class="btn btn-primary-outline" href="/login">Sign-in/Register</a>
        {{/user}}
        {{#user}}
        <a class="btn btn-primary-outline" href="/logout" id="logout"
          >Sign out</a
        >
        {{/user}}
      </div>
    </div>
  </div>
</nav>

<div class="offcanvas offcanvas-start d-flex flex-column flex-shrink-0 bg-body-tertiary" style="width: 4.5rem;" data-bs-scroll="true"
data-bs-backdrop="true"
data-bs-width="200px"
tabindex="-1"
id="offcanvasScrolling"
aria-labelledby="offcanvasScrollingLabel" >


  {{^user}}
  <a href="/" class="d-block p-3 link-body-emphasis text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
    <i class="fa-solid fa-house ms-2" width="40" height="32"></i>
    <span class="visually-hidden">Icon-only</span>
  </a>
  {{/user}}
  {{#user}}
  <a href="/home" class="d-block p-3 link-body-emphasis text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
    <i class="fa-solid fa-house ms-2" width="40" height="32"></i>
    <span class="visually-hidden">Icon-only</span>
  </a>
  {{/user}}
  {{#user}}
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center text-decoration-none">
    <li class="nav-item">
      <a href="/nutrition" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Nutrition" data-bs-original-title="Nutrition">
        <i class="fa-solid fa-carrot" width="24" height="24" aria-label="Nutrition"></i>
      </a>
    </li>
    <li>
      <a href="/fitness" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Fitness" data-bs-original-title="Fitness">
        <i class="fa-solid fa-dumbbell" width="24" height="24" aria-label="Fitness"></i>
      </a>
    </li>
    <li>
      <a href="/lifestyle" class="nav-link py-3 border-bottom rounded-0 text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Healthy" data-bs-original-title="Healthy">
        <i class="fa-solid fa-heart" width="24" height="24" aria-label="Healthy"></i>
      </a>
    </li>
    <li>
      <a href="/goals" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Goals" data-bs-original-title="Goals">
        <i class="fa-solid fa-clipboard" width="24" height="24" aria-label="Goals"></i>
      </a>
    </li>
  </ul>
  {{/user}}

  {{#user}}
  <div class="dropdown border-top">
    <a href="#" class="d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa-solid fa-user" width="24" height="24" class="rounded-circle"></i>
    </a>
    <ul class="dropdown-menu text-small shadow">
      <li><a class="dropdown-item" href="/logout">Sign out</a></li>
    </ul>
  </div>
  {{/user}}
</div>