<html lang="en">
  <head>
    {{>head}}
  </head>
  <body class="bg-dark">
    {{>navbar}}
    <main>
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto text-white">
            <h1 class="fw-light">Nutrition</h1>
            <p class="lead text-body-white">It's said that nutrition is more important than even physical activity. Here is a number of ways to eat healthily.</p>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
