.register-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.offcanvas {
    width: 4.5rem !important;
    max-width: 200px !important;
}

ul {
    text-decoration: none;
    list-style-type:none;
}